---
import {
  Card,
  CardHeader,
  CardTitle,
  CardContent,
  CardFooter,
} from "@/components/ui/card"

import {Button} from "@/components/ui/button"

import {BlueSkyIcon} from "./BlueSkyIcon";

import {Github, Mail, Rss} from "lucide-react";
import * as intro from "@/contents/intro.mdx"
import Prose from "./Prose.astro";
---

<Card>
    <CardHeader>
        <CardTitle>{intro.frontmatter.title}</CardTitle>
    </CardHeader>
    <CardContent>
        <Prose>
            <intro.Content/>
        </Prose>
    </CardContent>
    <CardFooter>
        <div class="flex space-x-3">
            <a href="https://github.com/EvanLuo42">
                <Button size="icon" aria-label="github">
                    <Github></Github>
                </Button>
            </a>
            <a href="mailto:ziyun.luo@icloud.com">
                <Button size="icon" aria-label="mail">
                    <Mail></Mail>
                </Button>
            </a>
            <a href="https://bsky.app/profile/el42.cc">
                <Button size="icon" aria-label="bluesky">
                    <BlueSkyIcon/>
                </Button>
            </a>
            <a href="/feed.xml">
                <Button size="icon" aria-label="rss">
                    <Rss/>
                </Button>
            </a>
        </div>
    </CardFooter>
</Card>