---
import {
  Card,
  CardHeader,
  CardTitle,
  CardContent,
  CardFooter,
} from "@/components/ui/card"

import {Badge} from "./ui/badge";

import Prose from "./Prose.astro";

interface Props {
    title: string,
    date: string,
    categories: Array<string>
}

const props = Astro.props
---

<Card>
    <CardHeader className="pb-0">
        <CardTitle>{props.title}</CardTitle>
    </CardHeader>
    <CardContent>
        <Prose>
            <div class="line-clamp-2 prose-img:hidden">
                <slot/>
            </div>
        </Prose>
    </CardContent>
    <CardFooter className="flex items-center">
        {props.categories.map((category) => (<Badge>{category}</Badge>))} &nbsp · &nbsp  <span class="text-sm text-muted-foreground">{props.date}</span>
    </CardFooter>
</Card>