<div
        class="
        prose
        max-w-full
        dark:prose-invert
        prose-h1:scroll-m-20
        prose-h1:font-extrabold
        prose-h1:text-4xl
        lg:prose-h1:text-5xl
        prose-h1:tracking-tight
        prose-h2:scroll-m-20
        prose-h2:text-3xl
        prose-h2:font-semibold
        prose-h2:tracking-tight
        prose-h2:border-b
        prose-h2:pb-2
        prose-h2:first:mt-0
        prose-h3:scroll-m-20
        prose-h3:text-2xl
        prose-h3:font-semibold
        prose-h3:tracking-tight
        prose-h4:scroll-m-20
        prose-h4:text-xl
        prose-h4:font-semibold
        prose-h4:tracking-tight
        prose-p:leading-7
        prose-img:mt-0
        prose-img:mb-0
        prose-img:rounded-lg
        prose-img:w-full
        "
>
    <slot />
</div>